:root {
    background-color: rgb(128, 216, 216);
}
#highscore-list, #countdown {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
}
.quiz-start p {
    font-size: 20px;
    margin: 20px 50px;
    text-align: center;
    padding-bottom: 20px;
    border: solid 3px green;
    padding: 20px;
    margin: 20px 300px;
    background-color: rgb(56, 201, 116);
}
.quiz {
    margin-left: 200px;
    font-size: 30px;
    flex-direction: column;
    display: none;
}

button {
    display: flex;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}
.btn-start {
    transform: translateX(330%);
    background-color: rgb(129, 230, 216);
    font-size: 15px;
    padding: 20px 30px;
}
.final-score {
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    display: none;
}
.scoreboard-list {
    margin-left: 200px;
    font-size: 30px;
    flex-direction: column;
    display: none;
}